@layout('layouts/main')

@section('body')
<div class="d-flex justify-content-end mb-3">
  <a href="{{ route('ResourceController.index') }}" class="btn" type="button">
    @!icon({name: 'arrow_back', title: 'Back'}) 
  </a>
</div>
@!resources.form({action: route('ResourceController.store'), resources, resourceTypes})
@end