@layout('layouts/main')

@section('body')
<div class="d-flex justify-content-end mb-3">
  <a href="{{ route('ResourceController.index', {id: resource.id}) }}" class="btn" type="button">
    @!icon({name: 'arrow_back', title: 'Back'}) 
  </a>
</div>
@!resources.form({action: route('ResourceController.update', {id: resource.id}), resource, resources, resourceTypes})
@end