<div class="form-check">
  <input 
    class="
      form-check-input
      {{ error && 'is-invalid'}}
    " 
    type="checkbox" 
    name="{{name}}" 
    id="{{id}}" 
    value="1"
    {{checked && 'checked'}}
  >
  <label class="form-check-label" for="{{id}}">{{label}}</label>
  <div class="invalid-feedback">
    {{ error && sentenceCase(error)}}
  </div>
  
  <div id="dependent-helper" class="form-text">
    {{ helper && helper}}
  </div>
</div>